<div class="row">

    <div class="col-lg-12">
        <h1>Gruppe {{ activeGroup.name }}, <small>{{ activeGroup.coach.name }}</small></h1>
        <hr>
    </div>

    <div class="col-lg-12">

        <nb-card [nbSpinner]="loading">

            <nb-card-header style="position: relative">
                <nb-badge *ngIf="participationIsOpen()" text="Teilnahme ist offen" status="primary" position="top right"></nb-badge>
                <nb-badge *ngIf="participationIsClosed()" text="Teilnahme ist Geschlossen" status="info" position="top right"></nb-badge>
                Teinehmer
            </nb-card-header>

            <nb-card-body>

                <div *ngIf="editSuccess" class="alert alert-success" role="alert">
                    <strong>Super!</strong> Der Teinehmer wurde gespeichert.
                </div>

                <div *ngIf="deleteSuccess" class="alert alert-success" role="alert">
                    <strong>Super!</strong> Der Teilnehmer wurde gelöscht.
                </div>

                <ng2-smart-table *ngIf="participationIsClosed()"
                                 [settings]="tableSettings"
                                 [source]="tableSource"
                                 (delete)="deleteParticipant($event.data.originalValue)"
                                 (edit)="editParticipant($event.data.originalValue)">
                </ng2-smart-table>

                <ng2-smart-table *ngIf="participationIsOpen()"
                                 [settings]="mutableTableSettings"
                                 [source]="tableSource"
                                 (delete)="deleteParticipant($event.data.originalValue)"
                                 (edit)="editParticipant($event.data.originalValue)">
                </ng2-smart-table>

            </nb-card-body>
        </nb-card>

    </div>

    <div class="col-lg-6">

        <ngx-participation [sports]="sports" [group]="activeGroup" (onCreate)="loadParticipants()"></ngx-participation>

    </div>

    <div class="col-lg-6">

        <ngx-re-participation
            [sports]="sports"
            [participantList]="participantList"
            [participationStatus]="participationStatus"
            (onChange)="loadParticipants()">
        </ngx-re-participation>

    </div>

</div>
